:root {
    --primary: #0F2080;
    --primaryInteract: #85C0F9;
    
    --secondary: #F5793A;
    --secondaryInteract: #A95AA1;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
     font-size: clamp(1rem, 1vw, 50rem);

}


body {
    font-family: 'Fredoka One', sans-serif;
    color:var(--primary);
    background:white;
}


a, img {display:block;}
a { text-decoration: none; color:var(--primary);}




